.scale-slide-enter-active {
  animation: scale-slide .25s reverse;
}

.scale-slide-leave-active {
  animation: scale-slide .25s;
}

@keyframes slide-up {
  from {
    bottom: -100%;
    opacity: 0;
  }

  to {
    bottom: 2%;
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    opacity: 1;
  }

  to {
    bottom: -100%;
    opacity: 0;
  }
}

@keyframes slide-left {
  from {
    opacity: 1;
  }

  to {
    left: -60%;
    opacity: 0;
  }
}

@keyframes slide-right {
  from {
    left: -60%;
    opacity: 0;
  }

  to {
    left: 1%;
    opacity: 1;
  }
}

@keyframes scale-slide {
  from {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  to {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}
