*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.collapse-transition {
  transition:.25s height ease-in-out,
    .25s padding-top ease-in-out,
    .25s padding-bottom ease-in-out;
}

