@mixin ellipsis {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin disabled-selected {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

@mixin no-scroll {
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin animation-slide-up {
  animation: slide-up;
  animation-duration: .25s;
}

@mixin animation-slide-down {
  animation: slide-down;
  animation-duration: .25s;
}

@mixin animation-slide-left {
  animation: slide-left;
  animation-duration: .25s;
}

@mixin animation-slide-right {
  animation: slide-right;
  animation-duration: .25s;
}