@mixin ellipsis {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin disabled-selected {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

@mixin slide-enter-active {
  animation: slide-up;
  animation-duration: .25s;
}

@mixin slide-leave-active {
  animation: slide-down;
  animation-duration: .25s;
}