@font-face {
  font-family: "iconfont"; /* Project id 2759386 */
  src: url('iconfont.woff2?t=1635300908767') format('woff2'),
       url('iconfont.woff?t=1635300908767') format('woff'),
       url('iconfont.ttf?t=1635300908767') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moon:before {
  content: "\e610";
}

