@font-face {
  font-family: "iconfont"; /* Project id 2759386 */
  src: url('iconfont.woff2?t=1635503122775') format('woff2'),
       url('iconfont.woff?t=1635503122775') format('woff'),
       url('iconfont.ttf?t=1635503122775') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-folder:before {
  content: "\ec17";
}

.icon-network:before {
  content: "\e99b";
}

.icon-shut-down:before {
  content: "\e762";
}

.icon-setting:before {
  content: "\e6f0";
}

.icon-arrow-right:before {
  content: "\e744";
}

.icon-arrow-up:before {
  content: "\e743";
}

.icon-windows-fill:before {
  content: "\e774";
}

.icon-search:before {
  content: "\e82e";
}

.icon-moon:before {
  content: "\e610";
}

