@font-face {
  font-family: "iconfont"; /* Project id 2759386 */
  src: url('iconfont.woff2?t=1636797304745') format('woff2'),
       url('iconfont.woff?t=1636797304745') format('woff'),
       url('iconfont.ttf?t=1636797304745') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
  content: "\e6e7";
}

.icon-delete:before {
  content: "\e66a";
}

.icon-classification:before {
  content: "\e687";
}

.icon-arrow-up-fill:before {
  content: "\ec18";
}

.icon-arrow-down-fill:before {
  content: "\e652";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-close:before {
  content: "\e6dc";
}

.icon-lock:before {
  content: "\e62d";
}

.icon-search-left:before {
  content: "\e6e1";
}

.icon-direction-right:before {
  content: "\e66c";
}

.icon-direction-left:before {
  content: "\e66d";
}

.icon-refresh:before {
  content: "\e67b";
}

.icon-battery0:before {
  content: "\e637";
}

.icon-battery1:before {
  content: "\e638";
}

.icon-battery2:before {
  content: "\e639";
}

.icon-battery3:before {
  content: "\e63a";
}

.icon-battery4:before {
  content: "\e63b";
}

.icon-plus-circle:before {
  content: "\e781";
}

.icon-water:before {
  content: "\eb84";
}

.icon-location:before {
  content: "\e6c5";
}

.icon-more:before {
  content: "\e710";
}

.icon-folder:before {
  content: "\ec17";
}

.icon-network:before {
  content: "\e99b";
}

.icon-shut-down:before {
  content: "\e762";
}

.icon-setting:before {
  content: "\e6f0";
}

.icon-arrow-right:before {
  content: "\e744";
}

.icon-arrow-up:before {
  content: "\e743";
}

.icon-windows-fill:before {
  content: "\e774";
}

.icon-search:before {
  content: "\e82e";
}

.icon-moon:before {
  content: "\e610";
}

